---
import DashboardLayout from '../../../layouts/DashboardLayout.astro';
---
<DashboardLayout title='Create Page'>
  <h2 class='text-5xl text-white'>test value 1</h2>
  <h2 class='text-5xl text-white'>test value</h2>
  <h2 class='text-5xl text-white'>test value</h2>
  <h2 class='text-5xl text-white'>test value</h2>
  <h2 class='text-5xl text-white'>test value</h2>
  <h2 class='text-5xl text-white'>test value</h2>
  <h2 class='text-5xl text-white'>test value</h2>
  <h2 class='text-5xl text-white'>test value</h2>
  <h2 class='text-5xl text-white'>test value</h2>
  <h2 class='text-5xl text-white'>test value</h2>
  <h2 class='text-5xl text-white'>test value</h2>
  <h2 class='text-5xl text-white'>test value</h2>
  <h2 class='text-5xl text-white'>test value</h2>
  <h2 class='text-5xl text-white'>test value</h2>
  <h2 class='text-5xl text-white'>test value</h2>
  <h2 class='text-5xl text-white'>test value</h2>
  <h2 class='text-5xl text-white'>test value</h2>
  <h2 class='text-5xl text-white'>test value</h2>
  <h2 class='text-5xl text-white'>test value</h2>
  <h2 class='text-5xl text-white'>test value</h2>
  <h2 class='text-5xl text-white'>test value</h2>
  <h2 class='text-5xl text-white'>test value</h2>
  <h2 class='text-5xl text-white'>test value</h2>
  <h2 class='text-5xl text-white'>test value</h2>
  <h2 class='text-5xl text-white'>test value</h2>
  <h2 class='text-5xl text-white'>test value</h2>
  <h2 class='text-5xl text-white'>test value</h2>
  <h2 class='text-5xl text-white'>Last</h2>
</DashboardLayout>

