---
interface Props{
  title:string;
}
const title = 'Home Page'
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{title}</title>
    <link rel="icon" href="./favicon.svg" type="image/x-icon">
  </head>
  <body>
    <main>
      <h1>Welcome To&nbsp <img class='icon' src='./favicon.svg'/>stro Dashboard</h1>  
      <a href='/astro-admin/dashboard'>Dashboard</a>
    </main>
  </body>
</html>
<style>
body{
  display:grid;
  place-content:center;
  height:100vh;
  background:black;
}
main{
  text-align:center;
}
h1{
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:2.5rem;
  font-weight:800;
  color:white;
  margin-bottom:.4rem;
}
img.icon{
  display:block;
  width:100%;
  max-width:2.5rem;
  margin-bottom:-15px;
  margin-right:-5px;
}
a{
  display:inline-block;
  background-color:white;
  padding: .4rem .8rem;
  font-size:1.125rem;
  border-radius:.2rem;
  color:black;
  font-weight:500;
  border:3px solid white;
  transition:all 150ms ease-in;
}
a:hover{
  background-color:black;
  color:white;
}
</style>
